<!--Modal windows-->
<app-detail-info-storage></app-detail-info-storage>

<div class="Modal_bg vImg" id="viewImg">
  <div class="Modal_content" id="viewImgBox">
    <div class="Modal_top_panel">
      <div>
      </div>
      <div>
        <span class="Modal_close vImg">X</span>
      </div>
    </div>
    <div class="Modal_main_conten_box">
      <img id="viewImgObj">
    </div>
  </div>
</div>

<app-storage-settings></app-storage-settings>

<!--User settings-->
<div class="Modal_bg" id="UserSettingsWindow">
  <div class="Modal_content">
    <div>
      <span class="Modal_close" onclick="$('#UserSettingsWindow').hide()">X</span>
    </div>
    <div class="editBox">
      <div class="top">
        <div class="avatar">
          <img [src]='ViewUser.imgContent' (click)="openSelectUserTitleImg()" class="img-thumbnail" alt="Title">
          <input type="file" style="display: none" id="selectUserTitleImg" accept="image/*">
        </div>
        <div class="nick">
          <div class="input-group flex-nowrap">
            <span class="input-group-text">@</span>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="ViewUser.userName" aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          <div class="input-group flex-nowrap">
            <span class="input-group-text">Nick</span>
            <input type="text" class="form-control" [(ngModel)]="ViewUser.nickname" placeholder="Nickname" [(ngModel)]="ViewUser.nickname" aria-label="Nickname" aria-describedby="addon-wrapping">
          </div>
        </div>
      </div>
      <div>
        <div class="input-group flex-nowrap">
          <span class="input-group-text">Email</span>
          <input type="email" class="form-control" placeholder="email" [(ngModel)]="ViewUser.email" aria-label="email" aria-describedby="addon-wrapping">
        </div>
      </div>
      <div>
        <button type="button" (click)="OpenSetPasswordMenu()" class="btn btn-primary">Set password</button>
      </div>
      <div>
        <button type="button" (click)="SaveUserSetting()" class="btn btn-success">Success</button>
      </div>
    </div>
  </div>
</div>

<!--Left tab menu-->
<div id="LeftTabMenu">
  <div class="content">
    <div class="top">
      <div>
        <img [src]='getUserData().imgContent'>
      </div>
      <div>
        <span>{{getUserData().nickname}}</span>
      </div>
    </div>
    <div class="bottom">
      <div class="itemList">
        <div class="item" (click)="openUserSettingsWindow()">
          <span>Settings</span>
        </div>
        <div class="item">
          <span>Contacts</span>
        </div>
        <div class="item" (click)="LogOutUser()">
          <span>Log Out</span>
        </div>
        <div class="item">
          <span>About the app</span>
        </div>
      </div>
    </div>
  </div>
</div>
