<div id="setPasswordBox">
  <div class="inputBox">
    <input type="password" placeholder="Old password" [(ngModel)]="OldPassword">
  </div>
  <div class="inputBox">
    <input type="password" placeholder="New password" [(ngModel)]="NewPassword">
  </div>
  <div class="inputBox">
    <input type="password" placeholder="Confirm new password" [(ngModel)]="ConfirmNewPassword">
  </div>
  <div class="inputBox buttonBox">
    <button type="button" class="close" (click)="actionClose()">Close</button>
    <button type="button" class="ok" (click)="actionSetPassword()">Set</button>
  </div>
  <div id="WarningBox"></div>
</div>
