.main{
  display: grid;
  grid-template-columns: auto auto auto;
}
.content{
  grid-column: 2;
  margin-top: 20%;
}
.content *{
  margin: 5px;
  padding-right: 10px;
}
.content button{
  padding-left: 10%;
  padding-right: 10%;
}
